
@{
    ViewBag.Title = "Economy";
}

<h2>Власти США снова придрались к Tesla</h2>
<div>
	<p>
		Комиссия по ценным бумагам и биржам (SEC) США направила в Tesla судебный запрос касательно заявлений и прогнозов компании по объемам выпуска автомобиля Tesla Model 3, передает Reuters.
	</p>
	<p>
		Предоставить информацию по тем же вопросам компанию попросило и Министерство юстиции США, которое ведет расследование по этому поводу. Tesla, однако, уточняет, что на данном этапе все правительственные проверки не несут никакого материального ущерба компании.
	</p>	
	<p>
		Ранее газета The Wall Street Journal со ссылкой на источники писала, что ФБР начало проверку в отношении Tesla о возможной дезинформации инвесторов компанией, в том числе о предоставленной компанией информации об автомобиле Tesla Model 3.
	</p>
	<p>
		В сентябре SEC возбудила против основателя Tesla Илона Маска уголовное дело. Поводом послужил твит о намерении сделать компанию частной и выкупить все акции по 420 долларов. Заявленная цена была выше рыночной, а Маск впоследствии отказался от своих планов. Это стало поводом заподозрить его в мошенничестве с целью повлиять на курс акций. В итоге он покинул пост председателя совета директоров.
	</p>
	
</div>

