
@{
    ViewBag.Title = "Politics";
}

<h2>Демократическую партию США обвинили в хакерской атаке на избирательную систему</h2>

<div>
	<p>
		Демократическую партию США в штате Джорджия обвинили в попытке взломать систему регистрации избирателей накануне губернаторских выборов. Об этом сообщает NBC.
	</p>
	<p>
		С обвинением выступил кандидат от республиканцев, госсекретарь штата Брайан Кемп. Он заявил, что Демократическая партия предприняла «неудачную попытку взломать систему регистрации избирателей штата». Кемп добавил, что его офис ведет расследование по этому поводу и уже предупредил ФБР и Министерство внутренней безопасности.
	</p>
	<p>
		«Я могу подтвердить, что Демократическая партия в Джорджии находится под следствием за возможные киберпреступления», — заявил Кемп.
	</p>
	<p>
		Представители демократов назвали заявления Кемпа «политическим трюком».
	</p>
</div>