
@{
    ViewBag.Title = "Society";
}

<h2>Society</h2>
<div>
	<p>
		Бывшего почтальона из Великобритании, разбогатевшего благодаря выигрышу в лотерее, замучило одиночество. Он решил продать роскошный особняк, уехать в Австралию и начать новую жизнь, пишет издание The Sun.
	</p>
	<p>
		В 2012 году 42-летний почтальон Адриан Бейфорад (Adrian Bayforаd) выиграл в лотерею 148 миллионов фунтов стерлингов. После этого он переехал в старинное имение в графстве Суффолк, которое купил за 6,5 миллиона фунтов стерлингов. Бывший почтальон украсил особняк начала XIX века рыцарскими доспехами и огромной фигурой Санта-Клауса, а у въезда поставил пару каменных вепрей.
	</p>
	<p>
		Через 15 месяцев после выигрыша его жена подала на развод. После недолгого романа с работницей колбасной фабрики у Бейфорада были продолжительные отношения с еще одной женщиной, но в прошлом году ушла и она, забрав его подарок — лошадей стоимостью 300 тысяч фунтов стерлингов. Третья девушка, бывшая официантка из итальянского ресторана, бросила новоиспеченного миллионера, когда нашла в его телефоне интимную переписку с женщиной, которая раньше работала его личным водителем.
	</p>
	
</div>

