
@{
    ViewBag.Title = "Sport";
}

<h2>Месси нашел недостойных «Барселоны» игроков</h2>
<p>
	Нападающий «Барселоны» Лионель Месси остался недоволен игрой трех футболистов команды. Об этом сообщает Don Balon.
</p>
<p>
	По инфомации издания, футболисту не нравятся выступления защитника Серхи Роберто, полузащитника Рафиньи Алькантара и нападающего Усмана Дембеле. Аргентинец высказал недовольство главному тренеру команды Эрнесто Вальверде. По мнению Месси, эти игроки выступают ниже необходимого уровня и тянут команду вниз.
</p>
<p>
	После 11-ти туров Ла Лиги «Барселона» лидирует в турнирной таблице, опережая мадридский «Атлетико» на четыре очка.
</p>
<p>
	Месси в августе 2018 года стал капитаном каталонцев. В текущем сезоне форвард провел 12 матчей за команду и забил 12 мячей при шести голевых передачах. Последние встречи футболист пропустил из-за перелома руки.
</p>
<p>
	Месси является пятикратным обладателем «Золотого мяча», вручаемого лучшему футболисту мира. Вместе с «Барселоной» аргентинский футболист восемь раз становился чемпионом Испании, пять раз — обладателем Кубка Испании, и четыре раза — победителем Лиги чемпионов.
</p>
