@model InfoPortal.WebUI.Models.SearchAttributes

<div class="card flex-fill">
	<h5 class="card-header">
		Search
	</h5>
	<div class="card-body">

		@using (Html.BeginForm("ResultSearch", "Search", new {@class = "filterbox"}))
		{
			<div class="form-group" id="search-option">
				@Html.DropDownListFor(model => model.Select,
					new SelectList(Model.SelectList, "Value", "Text"), "Select search", new {@class = "custom-select mb-3 form-group"})
			</div>
			<div class="form-group">
				<div class="input-group" id="form-input">
					<input type="text" class="form-control disabled" id="search-input" placeholder="Search for..." disabled/>
					<button class="btn btn-secondary" type="submit" id="btn-search" disabled>Go!</button>
				</div>
			</div>
		}
	</div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function() {
		$("#search-option select").change(function() {
			var selectedVal = $(this).val();
			if (selectedVal == 1) {
				$("#form-input input").attr({ "type": "text", "name": "ArtName", "id": "ArtName" });
				$("#form-input input").removeAttr("disabled");
				$("#btn-search").removeAttr("disabled");
			} else if (selectedVal == 2) {
				$("#form-input input").attr({ "type": "text", "name": "TagName", "id": "TagName" });
				$("#form-input input").removeAttr("disabled");
				$("#btn-search").removeAttr("disabled");

			} else if (selectedVal == 3) {
				$("#form-input input").attr({ "type": "date", "name": "Date", "id": "Date" });
				$("#form-input input").removeAttr("disabled");
				$("#btn-search").removeAttr("disabled");

			} else {
				$("#form-input input").attr("disabled", "true");
				$("#btn-search").attr("disabled", "true");
			}

		});
	})
</script>