@model  IEnumerable<Common.Article>  

<div class="card flex-fill">
	<h5 class="card-header">You can also read</h5>
	<div class="card-body">
		@foreach (var art in Model)
		{
			<a class="" href="@Url.Action("Article","Article",new{id=art.ArticleId})">
				<div class=" mx-3  my-2 border-bottom border-grey">
					<img class="card-img" src="@art.Image" alt="" />
					<div class="text-dark" style="display: inline-block">
						@art.Caption
					</div>
				</div>
			</a>
		}
	</div>
</div>