@model IEnumerable<string>


<ul class="nav nav-tabs nav-fill" id="navtab">
	<li class="nav-item">
		@Html.RouteLink("Home",new
		{
			controller="Main",
			action="List"
		},new{@class="nav-link "+(ViewBag.SelectedCategory??"active")})
	</li>
	@foreach (var link in Model)
	{
		<li class="nav-item">

			@Html.RouteLink(link, new
	   {
		   controller = "Main",
		   action = "List",
		   category=link,
		   page=1

	   }, new {@class ="nav-link "+(link == ViewBag.SelectedCategory ? "active" : null) })
		</li>

	}
</ul>



