@model IEnumerable<string>


<ul class="nav nav-tabs nav-fill" id="navtab">
	<li class="nav-item">
		@Html.RouteLink("Home",new
		{
			controller="Main",
			action="Index"
		},new{@class="nav-link text-dark"})
	</li>
	@foreach (var category in Model)
	{
		<li class="nav-item">

			@Html.RouteLink(category, new
	   {
		   controller = "Article",
		   action = "Article",

	   }, new {@class = "nav-link", role="tab"})
		</li>

	}
</ul>



