@model IEnumerable<string>


<div class="card flex-fill">
	<h5 class="card-header">Most popular tags</h5>
	<div class="card-body">
		<p class="lead">
			@foreach (var tag in Model)
			{
				<a class="badge badge-secondary" href="@Url.Action("ResultSearch","Main",new{searchQuery=tag,selectSearch=2})">@tag</a>
			}
		</p>
		<a href="@Url.Action("ShowAllTags")" class="btn btn-primary">Show all Tags</a>
	</div>
</div>
